<section class="card">
    {{#each this}}
    <a href="/comments/{{id}}">
        <div class="card-body">
            <h5>User: {{users.username}}</h5>
            <h5>Comment: {{comments_content}}</h5>
            <h5>Date: {{format_date date}}</h5>
        </div>
    </a>
    {{/each}}
</section>