<section class="card">

    <a href="/comments/{{id}}">
        <div class="card-body">
            <h5>User: {{users_id}}</h5>
            <h5>Comment: {{comments_content}}</h5>
            <h5>Date: {{comments.date}}</h5>
        </div>
    </a>
</section>