<div class="card">
    <div class="card-header">
    </div>
    <form class="card-body" id="new-project-form">
        <label for="new-project" class="form-label">Create a Project:</label>
        <input class="form-input" type="text" id="new-project" name="new-project" />

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
<script src="/public/js/create.js"></script>