<div class="card">
    <div class="card-header">
    </div>
    <form class="form card-body" id="new-project-form">
        {{!-- Title --}}

        <div>
            <label for="projectTitle" class="form-label">Project Title:</label>
            <input class="form-input" type="text" id="project-title-input" />
        </div>
        {{!-- Media Link --}}
        <div>
            <label for="mediaLink" class="form-label">Media Link:</label>
            <input class="form-input" type="text" id="media-link-input" />
        </div>
        {{!-- Description --}}
        <div>
            <label for="projectDesc" class="form-label">Description:</label>
            <input class="form-input" type="text" id="project-desc-input" />
        </div>
        {{!-- Create Button --}}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>


<script src="./js/create.js"></script>

