<div class="email-card">
  <form action="" class="email-form">
    <!-- From -->
    {{!-- <div class="form-group">
      <label for="email-from">From:</label><br>
      <input class="form-input" type="text" id="email-from">
    </div><br> --}}
    <!-- To -->



    <div class="form-group">
      <label for="email-to">
        <h2>TO:</h2>
      </label><br>
      <input class="form-input" type="text" id="email-to">
      <p>To send to multiple recipients, seperate email addresses by comma.</p>
    </div><br>
    <!-- Subject -->
    <div class="form-group">
      <label for="email-subject">
        <h2>SUBJECT:</h2>
      </label><br>
      <input class="form-input" type="text" id="email-subject">
    </div><br>
    <!-- Content -->
    <div class="form-group">
      <label for="email-subject">
        <h2>CONTENT:</h2>
      </label><br>
      <input class="form-input" type="text" id="email-content">
    </div><br>
    <!-- Submit Button -->
    <div class="form-group">
      <button class="btn btn-primary emailer-button" type="submit">
        <h2>SEND</h2>
      </button>
    </div>
  </form>
</div>

<script src="/js/script.js"></script>