<div class="wrapper">


  {{!-- <div class="container" id="welcome-box">
    <h2 class="welcome-title">WELCOME TO THE SHOW</h2>
    <img src="https://media.giphy.com/media/3o7aTl8m8NLZu8AW2Y/giphy.gif" alt="">
  </div> --}}

  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>

</div>



<script src="./js/login.js"></script>