<div class="wrapper-signupper">
  <div class="col-md-6">
    <h2 class="signup-title">CREATE NEW ACCOUNT</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">
          <h2>NAME</h2>
        </label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="username-signup">
          <h2>USERNAME</h2>
        </label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">
          <h2>EMAIL</h2>
        </label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">
          <h2>PASSWORD</h2>
        </label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary signup-button" type="submit">
          <h2>SIGN UP</h2>
        </button>
      </div>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>