* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  header {
    width: 100%;
    text-align: center;
  }

  h1 {
    font-family: 'Monoton', cursive;
    color: #eede06;
    font-size: 5rem;
    opacity: 0.8;
    width: 100%;
   
  }
  
h2 {
  color: #d831ee;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
    width: 100%;
    margin-bottom: -15px;
}


h3 {
  color: #5d9efa;
    font-weight: 500;
    opacity: 0.8;
    text-align: center;
}


h4 {
  color: #f025e6;
  font-weight: 600;
  opacity: 0.8;
}


  p {
    color: #3886f5;
    font-weight: 500;
    opacity: 0.8;
  }
  

a{
  text-decoration: none;
}

  
  main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #dd55ff, #a103c0);
    display: flex;
    align-items: center;
    justify-content: center;
  }


.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}

.glass {
  background: white;
  min-height: 80vh;
  max-height: fit-content;
  width: 90%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
text-align: center; 
 display: inline; 
}

.nav-bar {
  flex: 1;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(245, 195, 255, 0.7),
    rgba(253, 1, 232, 0.3)
  );
  border-radius: 2rem  2rem 0rem 0rem;
  margin: .0rem auto  3rem auto;
  height: 8rem;
}

.nav-items{
margin: auto;
  text-align: center;
 

}

.nav-item{
   float: left;
  position:relative ;
 margin: auto 1rem;
  display: inline;
}

h1:hover{
  color: #ed28ff;
    transform:scale(1.02);
  }
  


.nav-item img{
  margin-top: 10px;
}


.nav-item img:hover{
  transform:scale(1.15);
}


.body{
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  /* background: linear-gradient(
    to right bottom,
    rgba(245, 195, 255, 0.7),
    rgba(253, 1, 232, 0.3)
  ); */
  border-radius: 2rem  2rem 0rem 0rem;
  margin: 8rem auto 5rem auto;
}


/* .stream-card-title{
  background: linear-gradient(
  to left top,
  rgba(255, 255, 255, 0.5),
  rgba(133, 253, 243, 0.8)
  )

} */



.error-title{
  font-size: 4.5rem;
  font-weight: bold;
  color: rgba(99, 212, 247, 0.904);
 /*  background: linear-gradient(to right top, #fffb04, #ff771c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
 margin: -1rem auto;
  border-radius: 2rem; 
  max-width: 80%;
}

.error-title:hover{
  color: yellow;

}





/* HOMEPAGE */



.stream-card{
  background: linear-gradient(
  to left top,
  rgba(255, 255, 255, 0.5),
  rgba(133, 253, 243, 0.8)
  )

}

.streams-title{
  font-size: 4.5rem;
  font-weight: bold;
  color: rgba(99, 212, 247, 0.904);
 /*  background: linear-gradient(to right top, #fffb04, #ff771c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
 margin: -1rem auto;
  border-radius: 2rem; 
  max-width: 80%;
}


.stream-card {
  max-width: 80%;
  /*   display: flex; */
  background:
  url(https://img.icons8.com/nolan/128/desura.png) no-repeat, 
    linear-gradient(
      to left top,
      rgba(213, 255, 205, 0.8),
      rgba(255, 153, 250, 0.5)
    );
    border-radius: 3rem;
    margin: 2rem auto;
    min-height: 10rem;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
    background-position: 10% 50%;
    display: block;
  }

  
.stream-card:hover{
  transform:scale(1.05);
}

.title {
  font-weight: bold;
  background: linear-gradient(to right top, #f861f1, #f0c1f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.create-title{
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(to right top, #4cc5f5, #b7eefc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;

}
.create-title:hover{
background: linear-gradient(to right top, #fceb00, #f5ea8b);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}





@media only screen and (max-width: 1200px) {

  .stream-card {

    background:
    url() no-repeat, 
      linear-gradient(
        to left top,
        rgba(213, 255, 205, 0.8),
        rgba(255, 153, 250, 0.5)
      );
  }


.create-title{
  font-size: 3rem;
 
}

}










/* LOGIN PAGE */

.overlay1 {
  position: absolute;
  width: 1200%;
  height: 100%;
  left: -10%;
  z-index: 2;
  background: #ec1417;
}
.overlay2 {
  position: absolute;
  width: 1200%;
  height: 100%;
  left: -10%;
  z-index: 2;
  background: #46ec14;
}
.overlay3 {
  position: absolute;
  width: 1200%;
  height: 100%;
  left: -10%;
  z-index: 2;
  background: #000000;
}
.overlay4{
  position: absolute;
  width: 1200%;
  height: 100%;
  left: -10%;
  z-index: 2;
  background: #eff308;
}

.first {
  top: 0;
}

.second {
  top: 25%
}

.third {
  top: 50%;
}

.forth {
  top: 75%;
}


#log-in-box{
  margin: auto;
  padding-top: 3.5rem;
  visibility: hidden;
}

#welcome-box{
  margin: auto;
  padding-top: 2.5rem;
  visibility: hidden;
  position: absolute;
}

.wrapper{
  width: 100%;
  max-width: 900px;
  padding: 30px;
  height: 100%;
  min-height: 35rem;
  text-align: center;
  margin: auto;
  background-image: url("https://media.giphy.com/media/Ph0oIVQeuvh0k/giphy.gif") ;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.welcome-title{
    font-size: 4.2rem;
    font-weight: bold;
    color: white;

}



.login-form{
  margin: 1rem auto;
}

.login-form h2{
  color: white;
  font-size: 4rem;
  display: inline-block;
  font-weight: 900;
  text-shadow: black -2px 2px ;
}

.login-form label{
  line-height: 2rem;
  margin-bottom: -.5rem;
}

.login-form input{
  width: 70%;
  height: 40px;
  border: 2px solid #cccccc;
  margin-bottom: 3rem;
  margin-top: 3rem;
}



.login-button{
   display: inline-block;
   margin-left: 1rem;
   background: none;
   outline: none;
   border: none;
   
}
.login-button h2{
font-size: 5rem;
   font-weight: 900;
 
   text-shadow: black -2px 2px ;
   
}


.login-button h2:hover{
  color: #fbff00;
}

input[type=text] {
  border: none;
  border-bottom: 4px solid rgb(116, 174, 250);
  background-color: transparent;
  font-size: 25px;
  color: #4cc5f5;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

input[type=password] {
  border: none;
  border-bottom: 4px solid rgb(116, 174, 250);
  background-color: transparent;font-size: 25px;
  color: #4cc5f5;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

textarea:focus, input:focus{
  outline: none;
}




/* SIGN UP PAGE */


.signup-title{
  font-size: 6rem;
  font-weight: bold;
  color: rgb(25, 228, 255);
  margin-bottom: 1rem;

}


.signup-form{
  margin: 1rem auto;
}

.signup-form h2{
  color: rgb(247, 40, 202);
  font-size: 3rem;
}

.signup-form label{
  line-height: 2rem;
  margin-bottom: -.5rem;
}

.signup-form input{
  width: 50%;
  height: 40px;
  border: 2px solid #cccccc;
  margin-bottom: 2rem;
  margin-top: 2rem;
}



.signup-button{
  display: inline-block;
  margin-left: 1rem;
  background: none;
  outline: none;
  border: none;

}
.signup-button h2{
  color: rgb(25, 228, 255);
  font-size: 4rem;
  font-weight: 900;
}

.signup-button h2:hover{
  color: #fbff00;
}

input[type=text] {
  border: none;
  border-bottom: 4px solid rgb(116, 174, 250);
  background-color: transparent;
  font-size: 25px;
  color: #4cc5f5;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

input[type=password] {
  border: none;
  border-bottom: 4px solid rgb(116, 174, 250);
  background-color: transparent;font-size: 25px;
  color: #4cc5f5;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

textarea:focus, input:focus{
  outline: none;
}



.wrapper-signup{
  width: 100%;
  max-width: 900px;
  padding: 30px;
  height: 100%;
  min-height: 35rem;
  text-align: center;
  margin: auto;
 background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}









/* PREMIERE PAGE */

.premiere{
margin:auto;
  width: 100%;
  height: 100%;
  min-height: 25rem;
  padding: 2rem;
  margin-top: -6rem;

}


.display{
background: transparent;
width: 60%;
background: linear-gradient(to right top, #2ad4ff, #d9ff93);
border-radius: 2rem;
z-index: 2;
float: left;
margin-bottom: 5rem ;
overflow: auto;
}


.display h2{
margin-bottom: .4rem;
text-transform: uppercase ;
}


.display-user{
  color: #fffb0f;

  }

.comments{
  width: 37%;
  background: linear-gradient(to right top, #fca90e, #a3ffc6);
float: left;
overflow: auto;

border-radius:1rem;
z-index: 2;
margin-left:  1.5rem;
margin-bottom: 5rem ; 
min-height: 50rem;
}

.comment-title{
line-height: 6rem;
margin-bottom: 3rem;
}

.comment-scroll{
  overflow-x: scroll;
  min-height: 55rem;

}
.comment-form{
  margin-top: -5rem;
}

.comment-form textarea{
  width: 80%;
  height: 7rem;
  border: 2px solid #cccccc;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background: linear-gradient(to right top, #abffff, #a3f9ff);
  font-size: 20px;
  color: #f000c8;
  text-transform: uppercase;

}




.emailer{
  background: transparent;
  width: 60%;
  height: 8rem;
  background: linear-gradient(to right top, #e100ff, hsl(66, 100%, 58%));
  border-radius: 2rem;
  z-index: 2;
  float: left;
  margin-bottom: 5rem ;
  margin-top: -15rem;
  
  }

  .emailer h2{
    font-size: 4.5rem;
    font-weight: bold;
    color: rgba(99, 212, 247, 0.904);
   /*  background: linear-gradient(to right top, #fffb04, #ff771c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
   margin: .5rem auto;
    max-width: 90%;

  }

  .emailer h2:hover{
    color: yellow;

  }







/* CREATE PAGE */
.create-form h2{
  color: rgb(247, 40, 202);
  font-size: 3rem;
}


.create-button{
 margin: auto;
  background: none;
  outline: none;
  border: none;

}
.create-button h2{
  color: rgb(25, 228, 255);
  font-size: 5rem;
  font-weight: 900;
}

.create-button h2:hover{
  color: #fbff00;
}


.create-form label{
  line-height: 2rem;
  margin-bottom: -.5rem;
}

.create-form input{
  width: 70%;
 
  margin-bottom: 3rem;
  margin-top: 3rem;
}



/* EMAILER PAGE */


.email-form h2{
  color: rgb(247, 40, 202);
  font-size: 3rem;
}

.email-form p{
 
  font-size: 1.5rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
}



.emailer-button{
 margin: auto;
  background: none;
  outline: none;
  border: none;

}
.emailer-button h2{
  color: rgb(25, 228, 255);
  font-size: 5rem;
  font-weight: 900;
}

.emailer-button h2:hover{
  color: #fbff00;
}


.email-form label{
  line-height: 2rem;
  margin-bottom: -.5rem;
}

.email-form input{
  width: 70%;
 
  margin-bottom: 3rem;
  margin-top: 3rem;
}
